:root {
  --md-source: rgb(142, 170, 143);
  /* primary */
  --md-ref-palette-primary0: rgb(0, 0, 0);
  --md-ref-palette-primary10: rgb(0, 33, 10);
  --md-ref-palette-primary20: rgb(0, 57, 22);
  --md-ref-palette-primary25: rgb(0, 70, 29);
  --md-ref-palette-primary30: rgb(0, 83, 35);
  --md-ref-palette-primary35: rgb(0, 96, 42);
  --md-ref-palette-primary40: rgb(18, 109, 52);
  --md-ref-palette-primary50: rgb(51, 135, 74);
  --md-ref-palette-primary60: rgb(79, 161, 98);
  --md-ref-palette-primary70: rgb(105, 189, 122);
  --md-ref-palette-primary80: rgb(132, 217, 148);
  --md-ref-palette-primary90: rgb(160, 246, 174);
  --md-ref-palette-primary95: rgb(197, 255, 202);
  --md-ref-palette-primary98: rgb(234, 255, 232);
  --md-ref-palette-primary99: rgb(246, 255, 242);
  --md-ref-palette-primary100: rgb(255, 255, 255);
  /* secondary */
  --md-ref-palette-secondary0: rgb(0, 0, 0);
  --md-ref-palette-secondary10: rgb(14, 31, 17);
  --md-ref-palette-secondary20: rgb(35, 52, 37);
  --md-ref-palette-secondary25: rgb(46, 64, 48);
  --md-ref-palette-secondary30: rgb(57, 75, 59);
  --md-ref-palette-secondary35: rgb(69, 87, 70);
  --md-ref-palette-secondary40: rgb(80, 99, 81);
  --md-ref-palette-secondary50: rgb(105, 124, 105);
  --md-ref-palette-secondary60: rgb(130, 150, 130);
  --md-ref-palette-secondary70: rgb(156, 177, 156);
  --md-ref-palette-secondary80: rgb(183, 204, 182);
  --md-ref-palette-secondary90: rgb(211, 232, 210);
  --md-ref-palette-secondary95: rgb(225, 246, 224);
  --md-ref-palette-secondary98: rgb(234, 255, 232);
  --md-ref-palette-secondary99: rgb(246, 255, 242);
  --md-ref-palette-secondary100: rgb(255, 255, 255);
  /* tertiary */
  --md-ref-palette-tertiary0: rgb(0, 0, 0);
  --md-ref-palette-tertiary10: rgb(0, 31, 36);
  --md-ref-palette-tertiary20: rgb(0, 54, 62);
  --md-ref-palette-tertiary25: rgb(17, 65, 73);
  --md-ref-palette-tertiary30: rgb(32, 77, 85);
  --md-ref-palette-tertiary35: rgb(45, 89, 97);
  --md-ref-palette-tertiary40: rgb(57, 101, 109);
  --md-ref-palette-tertiary50: rgb(83, 126, 134);
  --md-ref-palette-tertiary60: rgb(108, 152, 161);
  --md-ref-palette-tertiary70: rgb(134, 178, 188);
  --md-ref-palette-tertiary80: rgb(161, 206, 215);
  --md-ref-palette-tertiary90: rgb(189, 234, 244);
  --md-ref-palette-tertiary95: rgb(211, 247, 255);
  --md-ref-palette-tertiary98: rgb(238, 252, 255);
  --md-ref-palette-tertiary99: rgb(247, 253, 255);
  --md-ref-palette-tertiary100: rgb(255, 255, 255);
  /* neutral */
  --md-ref-palette-neutral0: rgb(0, 0, 0);
  --md-ref-palette-neutral10: rgb(26, 28, 25);
  --md-ref-palette-neutral20: rgb(46, 49, 46);
  --md-ref-palette-neutral25: rgb(57, 60, 56);
  --md-ref-palette-neutral30: rgb(69, 71, 68);
  --md-ref-palette-neutral35: rgb(81, 83, 79);
  --md-ref-palette-neutral40: rgb(93, 95, 91);
  --md-ref-palette-neutral50: rgb(117, 120, 115);
  --md-ref-palette-neutral60: rgb(143, 145, 141);
  --md-ref-palette-neutral70: rgb(170, 172, 167);
  --md-ref-palette-neutral80: rgb(197, 199, 194);
  --md-ref-palette-neutral90: rgb(226, 227, 222);
  --md-ref-palette-neutral95: rgb(240, 241, 236);
  --md-ref-palette-neutral98: rgb(249, 250, 244);
  --md-ref-palette-neutral99: rgb(252, 253, 247);
  --md-ref-palette-neutral100: rgb(255, 255, 255);
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: rgb(0, 0, 0);
  --md-ref-palette-neutral-variant10: rgb(22, 29, 23);
  --md-ref-palette-neutral-variant20: rgb(43, 50, 43);
  --md-ref-palette-neutral-variant25: rgb(54, 61, 54);
  --md-ref-palette-neutral-variant30: rgb(65, 73, 65);
  --md-ref-palette-neutral-variant35: rgb(77, 84, 76);
  --md-ref-palette-neutral-variant40: rgb(89, 96, 88);
  --md-ref-palette-neutral-variant50: rgb(114, 121, 112);
  --md-ref-palette-neutral-variant60: rgb(139, 147, 137);
  --md-ref-palette-neutral-variant70: rgb(166, 173, 163);
  --md-ref-palette-neutral-variant80: rgb(193, 201, 190);
  --md-ref-palette-neutral-variant90: rgb(221, 229, 218);
  --md-ref-palette-neutral-variant95: rgb(235, 243, 232);
  --md-ref-palette-neutral-variant98: rgb(244, 252, 240);
  --md-ref-palette-neutral-variant99: rgb(247, 254, 243);
  --md-ref-palette-neutral-variant100: rgb(255, 255, 255);
  /* error */
  --md-ref-palette-error0: rgb(0, 0, 0);
  --md-ref-palette-error10: rgb(65, 0, 2);
  --md-ref-palette-error20: rgb(105, 0, 5);
  --md-ref-palette-error25: rgb(126, 0, 7);
  --md-ref-palette-error30: rgb(147, 0, 10);
  --md-ref-palette-error35: rgb(168, 7, 16);
  --md-ref-palette-error40: rgb(186, 26, 26);
  --md-ref-palette-error50: rgb(222, 55, 48);
  --md-ref-palette-error60: rgb(255, 84, 73);
  --md-ref-palette-error70: rgb(255, 137, 125);
  --md-ref-palette-error80: rgb(255, 180, 171);
  --md-ref-palette-error90: rgb(255, 218, 214);
  --md-ref-palette-error95: rgb(255, 237, 234);
  --md-ref-palette-error98: rgb(255, 248, 247);
  --md-ref-palette-error99: rgb(255, 251, 255);
  --md-ref-palette-error100: rgb(255, 255, 255);
  /* light */
  --md-sys-color-primary-light: rgb(18, 109, 52);
  --md-sys-color-on-primary-light: rgb(255, 255, 255);
  --md-sys-color-primary-container-light: rgb(160, 246, 174);
  --md-sys-color-on-primary-container-light: rgb(0, 33, 10);
  --md-sys-color-secondary-light: rgb(80, 99, 81);
  --md-sys-color-on-secondary-light: rgb(255, 255, 255);
  --md-sys-color-secondary-container-light: rgb(211, 232, 210);
  --md-sys-color-on-secondary-container-light: rgb(14, 31, 17);
  --md-sys-color-tertiary-light: rgb(57, 101, 109);
  --md-sys-color-on-tertiary-light: rgb(255, 255, 255);
  --md-sys-color-tertiary-container-light: rgb(189, 234, 244);
  --md-sys-color-on-tertiary-container-light: rgb(0, 31, 36);
  --md-sys-color-error-light: rgb(186, 26, 26);
  --md-sys-color-error-container-light: rgb(255, 218, 214);
  --md-sys-color-on-error-light: rgb(255, 255, 255);
  --md-sys-color-on-error-container-light: rgb(65, 0, 2);
  --md-sys-color-background-light: rgb(252, 253, 247);
  --md-sys-color-on-background-light: rgb(26, 28, 25);
  --md-sys-color-surface-light: rgb(252, 253, 247);
  --md-sys-color-on-surface-light: rgb(26, 28, 25);
  --md-sys-color-surface-variant-light: rgb(221, 229, 218);
  --md-sys-color-on-surface-variant-light: rgb(65, 73, 65);
  --md-sys-color-outline-light: rgb(114, 121, 112);
  --md-sys-color-inverse-on-surface-light: rgb(240, 241, 236);
  --md-sys-color-inverse-surface-light: rgb(46, 49, 46);
  --md-sys-color-inverse-primary-light: rgb(132, 217, 148);
  --md-sys-color-shadow-light: rgb(0, 0, 0);
  --md-sys-color-surface-tint-light: rgb(18, 109, 52);
  --md-sys-color-outline-variant-light: rgb(193, 201, 190);
  --md-sys-color-scrim-light: rgb(0, 0, 0);
  /* dark */
  --md-sys-color-primary-dark: rgb(132, 217, 148);
  --md-sys-color-on-primary-dark: rgb(0, 57, 22);
  --md-sys-color-primary-container-dark: rgb(0, 83, 35);
  --md-sys-color-on-primary-container-dark: rgb(160, 246, 174);
  --md-sys-color-secondary-dark: rgb(183, 204, 182);
  --md-sys-color-on-secondary-dark: rgb(35, 52, 37);
  --md-sys-color-secondary-container-dark: rgb(57, 75, 59);
  --md-sys-color-on-secondary-container-dark: rgb(211, 232, 210);
  --md-sys-color-tertiary-dark: rgb(161, 206, 215);
  --md-sys-color-on-tertiary-dark: rgb(0, 54, 62);
  --md-sys-color-tertiary-container-dark: rgb(32, 77, 85);
  --md-sys-color-on-tertiary-container-dark: rgb(189, 234, 244);
  --md-sys-color-error-dark: rgb(255, 180, 171);
  --md-sys-color-error-container-dark: rgb(147, 0, 10);
  --md-sys-color-on-error-dark: rgb(105, 0, 5);
  --md-sys-color-on-error-container-dark: rgb(255, 218, 214);
  --md-sys-color-background-dark: rgb(26, 28, 25);
  --md-sys-color-on-background-dark: rgb(226, 227, 222);
  --md-sys-color-surface-dark: rgb(26, 28, 25);
  --md-sys-color-on-surface-dark: rgb(226, 227, 222);
  --md-sys-color-surface-variant-dark: rgb(65, 73, 65);
  --md-sys-color-on-surface-variant-dark: rgb(193, 201, 190);
  --md-sys-color-outline-dark: rgb(139, 147, 137);
  --md-sys-color-inverse-on-surface-dark: rgb(26, 28, 25);
  --md-sys-color-inverse-surface-dark: rgb(226, 227, 222);
  --md-sys-color-inverse-primary-dark: rgb(18, 109, 52);
  --md-sys-color-shadow-dark: rgb(0, 0, 0);
  --md-sys-color-surface-tint-dark: rgb(132, 217, 148);
  --md-sys-color-outline-variant-dark: rgb(65, 73, 65);
  --md-sys-color-scrim-dark: rgb(0, 0, 0);
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
}
