:root {
  --md-source: #8eaa8f;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #00210a;
  --md-ref-palette-primary20: #003916;
  --md-ref-palette-primary25: #00461d;
  --md-ref-palette-primary30: #005323;
  --md-ref-palette-primary35: #00602a;
  --md-ref-palette-primary40: #126d34;
  --md-ref-palette-primary50: #33874a;
  --md-ref-palette-primary60: #4fa162;
  --md-ref-palette-primary70: #69bd7a;
  --md-ref-palette-primary80: #84d994;
  --md-ref-palette-primary90: #a0f6ae;
  --md-ref-palette-primary95: #c5ffca;
  --md-ref-palette-primary98: #eaffe8;
  --md-ref-palette-primary99: #f6fff2;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #0e1f11;
  --md-ref-palette-secondary20: #233425;
  --md-ref-palette-secondary25: #2e4030;
  --md-ref-palette-secondary30: #394b3b;
  --md-ref-palette-secondary35: #455746;
  --md-ref-palette-secondary40: #506351;
  --md-ref-palette-secondary50: #697c69;
  --md-ref-palette-secondary60: #829682;
  --md-ref-palette-secondary70: #9cb19c;
  --md-ref-palette-secondary80: #b7ccb6;
  --md-ref-palette-secondary90: #d3e8d2;
  --md-ref-palette-secondary95: #e1f6e0;
  --md-ref-palette-secondary98: #eaffe8;
  --md-ref-palette-secondary99: #f6fff2;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #001f24;
  --md-ref-palette-tertiary20: #00363e;
  --md-ref-palette-tertiary25: #114149;
  --md-ref-palette-tertiary30: #204d55;
  --md-ref-palette-tertiary35: #2d5961;
  --md-ref-palette-tertiary40: #39656d;
  --md-ref-palette-tertiary50: #537e86;
  --md-ref-palette-tertiary60: #6c98a1;
  --md-ref-palette-tertiary70: #86b2bc;
  --md-ref-palette-tertiary80: #a1ced7;
  --md-ref-palette-tertiary90: #bdeaf4;
  --md-ref-palette-tertiary95: #d3f7ff;
  --md-ref-palette-tertiary98: #eefcff;
  --md-ref-palette-tertiary99: #f7fdff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1a1c19;
  --md-ref-palette-neutral20: #2e312e;
  --md-ref-palette-neutral25: #393c38;
  --md-ref-palette-neutral30: #454744;
  --md-ref-palette-neutral35: #51534f;
  --md-ref-palette-neutral40: #5d5f5b;
  --md-ref-palette-neutral50: #757873;
  --md-ref-palette-neutral60: #8f918d;
  --md-ref-palette-neutral70: #aaaca7;
  --md-ref-palette-neutral80: #c5c7c2;
  --md-ref-palette-neutral90: #e2e3de;
  --md-ref-palette-neutral95: #f0f1ec;
  --md-ref-palette-neutral98: #f9faf4;
  --md-ref-palette-neutral99: #fcfdf7;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #161d17;
  --md-ref-palette-neutral-variant20: #2b322b;
  --md-ref-palette-neutral-variant25: #363d36;
  --md-ref-palette-neutral-variant30: #414941;
  --md-ref-palette-neutral-variant35: #4d544c;
  --md-ref-palette-neutral-variant40: #596058;
  --md-ref-palette-neutral-variant50: #727970;
  --md-ref-palette-neutral-variant60: #8b9389;
  --md-ref-palette-neutral-variant70: #a6ada3;
  --md-ref-palette-neutral-variant80: #c1c9be;
  --md-ref-palette-neutral-variant90: #dde5da;
  --md-ref-palette-neutral-variant95: #ebf3e8;
  --md-ref-palette-neutral-variant98: #f4fcf0;
  --md-ref-palette-neutral-variant99: #f7fef3;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #126d34;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #a0f6ae;
  --md-sys-color-on-primary-container-light: #00210a;
  --md-sys-color-secondary-light: #506351;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d3e8d2;
  --md-sys-color-on-secondary-container-light: #0e1f11;
  --md-sys-color-tertiary-light: #39656d;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #bdeaf4;
  --md-sys-color-on-tertiary-container-light: #001f24;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fcfdf7;
  --md-sys-color-on-background-light: #1a1c19;
  --md-sys-color-surface-light: #fcfdf7;
  --md-sys-color-on-surface-light: #1a1c19;
  --md-sys-color-surface-variant-light: #dde5da;
  --md-sys-color-on-surface-variant-light: #414941;
  --md-sys-color-outline-light: #727970;
  --md-sys-color-inverse-on-surface-light: #f0f1ec;
  --md-sys-color-inverse-surface-light: #2e312e;
  --md-sys-color-inverse-primary-light: #84d994;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #126d34;
  --md-sys-color-outline-variant-light: #c1c9be;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #84d994;
  --md-sys-color-on-primary-dark: #003916;
  --md-sys-color-primary-container-dark: #005323;
  --md-sys-color-on-primary-container-dark: #a0f6ae;
  --md-sys-color-secondary-dark: #b7ccb6;
  --md-sys-color-on-secondary-dark: #233425;
  --md-sys-color-secondary-container-dark: #394b3b;
  --md-sys-color-on-secondary-container-dark: #d3e8d2;
  --md-sys-color-tertiary-dark: #a1ced7;
  --md-sys-color-on-tertiary-dark: #00363e;
  --md-sys-color-tertiary-container-dark: #204d55;
  --md-sys-color-on-tertiary-container-dark: #bdeaf4;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1a1c19;
  --md-sys-color-on-background-dark: #e2e3de;
  --md-sys-color-surface-dark: #1a1c19;
  --md-sys-color-on-surface-dark: #e2e3de;
  --md-sys-color-surface-variant-dark: #414941;
  --md-sys-color-on-surface-variant-dark: #c1c9be;
  --md-sys-color-outline-dark: #8b9389;
  --md-sys-color-inverse-on-surface-dark: #1a1c19;
  --md-sys-color-inverse-surface-dark: #e2e3de;
  --md-sys-color-inverse-primary-dark: #126d34;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #84d994;
  --md-sys-color-outline-variant-dark: #414941;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
}

/* ! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

@font-face {
  font-family: "fantasque";

  src: url("/font/FantasqueSansMono/FantasqueSansMNerdFont-Regular.ttf");
}

@font-face {
  font-family: "霞鹜文楷等宽";

  src: url("/font/lxgw-wenkai-v1.315/LXGWWenKaiMono-Regular.ttf");
}

html,
  body {
  height: 100%;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-sys-color-surface-light) r g b / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(from var(--md-sys-color-on-surface-light) r g b / var(--tw-text-opacity));
}

:is(.dark body) {
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-sys-color-surface-dark) r g b / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(from var(--md-sys-color-on-surface-dark) r g b / var(--tw-text-opacity));
}

* {
  --tw-border-opacity: 1;
  border-color: rgb(from var(--md-sys-color-outline-light) r g b / var(--tw-border-opacity));
}

:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(from var(--md-sys-color-outline-dark) r g b / var(--tw-border-opacity));
}

code {
  font-family: fantasque, 霞鹜文楷等宽;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

/* 滚轮背景 */

/* ::-webkit-scrollbar-track {
    @apply rounded-full;
  } */

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-sys-color-surface-variant-light) r g b / var(--tw-bg-opacity));
}

:is(.dark )::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-sys-color-surface-variant-dark) r g b / var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.icon-\[carbon--email\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='black' d='M28 6H4a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2m-2.2 2L16 14.78L6.2 8ZM4 24V8.91l11.43 7.91a1 1 0 0 0 1.14 0L28 8.91V24Z'/%3E%3C/svg%3E");
}

.icon-\[carbon--logo-github\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='black' fill-rule='evenodd' d='M16 2a14 14 0 0 0-4.43 27.28c.7.13 1-.3 1-.67v-2.38c-3.89.84-4.71-1.88-4.71-1.88a3.71 3.71 0 0 0-1.62-2.05c-1.27-.86.1-.85.1-.85a2.94 2.94 0 0 1 2.14 1.45a3 3 0 0 0 4.08 1.16a2.93 2.93 0 0 1 .88-1.87c-3.1-.36-6.37-1.56-6.37-6.92a5.4 5.4 0 0 1 1.44-3.76a5 5 0 0 1 .14-3.7s1.17-.38 3.85 1.43a13.3 13.3 0 0 1 7 0c2.67-1.81 3.84-1.43 3.84-1.43a5 5 0 0 1 .14 3.7a5.4 5.4 0 0 1 1.44 3.76c0 5.38-3.27 6.56-6.39 6.91a3.33 3.33 0 0 1 .95 2.59v3.84c0 .46.25.81 1 .67A14 14 0 0 0 16 2'/%3E%3C/svg%3E");
}

.icon-\[tabler--brand-bilibili\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 10a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4v6a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4zm5-7l2 3m6-3l-2 3m-5 7v-2m6 0v2'/%3E%3C/svg%3E");
}

.icon-\[tabler--brand-telegram\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m15 10l-4 4l6 6l4-16l-18 7l4 2l2 6l3-4'/%3E%3C/svg%3E");
}

.icon-\[tabler--calendar-time\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M11.795 21H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v4'/%3E%3Cpath d='M14 18a4 4 0 1 0 8 0a4 4 0 1 0-8 0m1-15v4M7 3v4m-4 4h16'/%3E%3Cpath d='M18 16.496V18l1 1'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-\[tabler--chart-arcs\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M11 12a1 1 0 1 0 2 0a1 1 0 1 0-2 0'/%3E%3Cpath d='M16.924 11.132a5 5 0 1 0-4.056 5.792'/%3E%3Cpath d='M3 12a9 9 0 1 0 9-9'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-\[tabler--device-desktop\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 5a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1zm4 15h10m-8-4v4m6-4v4'/%3E%3C/svg%3E");
}

.icon-\[tabler--menu-2\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16'/%3E%3C/svg%3E");
}

.icon-\[tabler--moon\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 3h.393a7.5 7.5 0 0 0 7.92 12.446A9 9 0 1 1 12 2.992z'/%3E%3C/svg%3E");
}

.icon-\[tabler--search\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6'/%3E%3C/svg%3E");
}

.icon-\[tabler--sun\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 12a4 4 0 1 0 8 0a4 4 0 1 0-8 0m-5 0h1m8-9v1m8 8h1m-9 8v1M5.6 5.6l.7.7m12.1-.7l-.7.7m0 11.4l.7.7m-12.1-.7l-.7.7'/%3E%3C/svg%3E");
}

.icon-\[tabler--tag\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M6.5 7.5a1 1 0 1 0 2 0a1 1 0 1 0-2 0'/%3E%3Cpath d='M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592-5.592a2.41 2.41 0 0 0 0-3.408l-7.71-7.71A2 2 0 0 0 11.172 3H6a3 3 0 0 0-3 3'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-\[tabler--x\] {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3E%3C/svg%3E");
}

.container {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 48rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 56rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 64rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 72rem;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  &:hover,
    &.active {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-secondary-light) r g b / var(--tw-text-opacity));
  }
  :is(.dark &:hover),:is(.dark 
    &.active) {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-secondary-dark) r g b / var(--tw-text-opacity));
  }
}

.select-theme {
  display: grid;
  flex: 1 1 0%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  @media (min-width: 768px) {
    & {
      position: absolute;
    }

    & {
      top: 100%;
    }

    & {
      display: none;
    }

    & {
      width: 8rem;
    }

    & > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
    }

    & {
      overflow: hidden;
    }

    & {
      border-radius: 0.375rem;
    }

    & {
      border-width: 1px;
    }

    & {
      --tw-bg-opacity: 1;
      background-color: rgb(from var(--md-sys-color-surface-light) r g b / var(--tw-bg-opacity));
    }

    & {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    :is(.dark &) {
      --tw-bg-opacity: 1;
      background-color: rgb(from var(--md-sys-color-surface-dark) r g b / var(--tw-bg-opacity));
    }

    &.active {
      display: block;
    }
  }
  li {
    display: flex;
  }
  li {
    width: 100%;
  }
  li {
    cursor: pointer;
  }
  li {
    align-items: center;
  }
  li {
    justify-content: center;
  }
  li {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
  li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  @media (min-width: 768px) {
    li {
      justify-content: flex-start;
    }
  }
  @media (min-width: 768px) {
    li {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
  li {
    &:hover {
      background-color: rgb(0 0 0 / 0.05);
    }
    :is(.dark &:hover) {
      background-color: rgb(255 255 255 / 0.05);
    }
    &.active {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-sys-color-primary-light) r g b / var(--tw-text-opacity));
    }
    :is(.dark &.active) {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-sys-color-primary-dark) r g b / var(--tw-text-opacity));
    }
    :first-child {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    :last-child {
      font-size: 0.95rem;
    }
  }
}

.search {
  display: flex;
  border-radius: 0.125rem;
  border-width: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 768px) {
  .search {
    border-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.search {
  .search-box {
    display: flex;
  }
  .search-box {
    flex: 1 1 0%;
  }
  .search-box {
    align-items: center;
  }
  .search-box {
    overflow: hidden;
  }
  .search-box {
    border-radius: 0.25rem;
  }
  .search-box {
    .search-btn {
      margin-right: 0.5rem;
    }
    .search-btn {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    .search-btn {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
    .search-input {
      width: 100%;
    }
    .search-input {
      background-color: inherit;
    }
    .search-input {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    .search-input {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
    @media (min-width: 768px) {
      .search-input {
        width: 0px;
      }
    }
    @media (min-width: 768px) {
      .search-input {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
      }
    }
  }
  .search-close-btn {
    padding-left: 0.5rem;
  }
  @media (min-width: 768px) {
    .search-close-btn {
      display: none;
    }
  }
  @media (min-width: 768px) {
    &.active {
      --tw-bg-opacity: 1;
      background-color: rgb(from var(--md-sys-color-surface-variant-light) r g b / var(--tw-bg-opacity));
    }

    &.active {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    :is(.dark &.active) {
      --tw-bg-opacity: 1;
      background-color: rgb(from var(--md-sys-color-surface-variant-dark) r g b / var(--tw-bg-opacity));
    }

    &.active {
      .search-btn {
        font-size: 1rem;
        line-height: 1.5rem;
      }
      .search-input {
        display: block;
      }
      .search-input {
        width: 14rem;
      }
      .search-close-btn {
        display: block;
      }
    }
  }
}

.contact > div {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  dt {
    display: flex;
  }
  dt {
    align-items: center;
  }
}

.markdown > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.markdown {
  font-size: 1.125rem;
  line-height: 1.75rem;
  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  h1 {
    &:hover::after {
      content: "#1";
    }
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h2 {
    &:hover::after {
      content: "#2";
    }
  }
  h1,
    h2 {
    border-bottom-width: 1px;
  }
  h1,
    h2 {
    --tw-border-opacity: 1;
    border-color: rgb(from var(--md-sys-color-surface-variant-light) r g b / var(--tw-border-opacity));
  }
  h1,
    h2 {
    padding-bottom: 0.5rem;
  }
  :is(.dark h1),:is(.dark 
    h2) {
    --tw-border-opacity: 1;
    border-color: rgb(from var(--md-sys-color-surface-variant-dark) r g b / var(--tw-border-opacity));
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  h3 {
    &:hover::after {
      content: "#3";
    }
  }
  h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  h4 {
    &:hover::after {
      content: "#4";
    }
  }
  h5 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  h5 {
    &:hover::after {
      content: "#5";
    }
  }
  h6 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  h6 {
    &:hover::after {
      content: "#6";
    }
  }
  h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    margin-top: 1.25rem;
  }
  h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    &:hover::after {
      margin-left: 0.25rem;
    }
    &:hover::after {
      vertical-align: bottom;
    }
    &:hover::after {
      font-size: 0.75rem;
      line-height: 1rem;
    }
    &:hover::after {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-ref-palette-neutral70) r g b / var(--tw-text-opacity));
    }
    :is(.dark &:hover)::after {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-ref-palette-neutral35) r g b / var(--tw-text-opacity));
    }
  }
  p {
    word-break: break-all;
  }
  pre {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .highlight {
    position: relative;
  }
  .highlight {
    width: 100%;
  }
  .highlight {
    overflow: hidden;
  }
  .highlight {
    border-radius: 0.5rem;
  }
  .highlight {
    /* 如果不显示行号 */
    > pre {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    > div {
      overflow-x: auto;
    }
    .copy-btn {
      --tw-bg-opacity: 1;
      background-color: rgb(from var(--md-sys-color-secondary-container-light) r g b / var(--tw-bg-opacity));
    }
    :is(.dark .copy-btn) {
      --tw-bg-opacity: 1;
      background-color: rgb(from var(--md-sys-color-secondary-container-dark) r g b / var(--tw-bg-opacity));
    }
    .copy-btn {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-sys-color-on-secondary-container-light) r g b / var(--tw-text-opacity));
    }
    :is(.dark .copy-btn) {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-sys-color-on-secondary-container-dark) r g b / var(--tw-text-opacity));
    }
    .copy-btn {
      position: absolute;
    }
    .copy-btn {
      right: 0.5rem;
    }
    .copy-btn {
      top: 0.25rem;
    }
    .copy-btn {
      display: flex;
    }
    .copy-btn {
      align-items: center;
    }
    .copy-btn {
      -moz-column-gap: 0.25rem;
           column-gap: 0.25rem;
    }
    .copy-btn {
      border-radius: 0.5rem;
    }
    .copy-btn {
      border-width: 1px;
    }
    .copy-btn {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .copy-btn {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    .copy-btn {
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }
    &:hover {
      .copy-btn {
        opacity: 1;
      }
    }
  }
  hr {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  hr {
    border-width: 2px;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  ol > :not([hidden]) ~ :not([hidden]),
    ul > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }
  ol,
    ul {
    padding-left: 1.75rem;
  }
  ol,
    ul {
    li {
      &::marker {
        --tw-text-opacity: 1;
        color: rgb(from var(--md-ref-palette-neutral70) r g b / var(--tw-text-opacity));
      }
      :is(.dark &)::marker {
        --tw-text-opacity: 1;
        color: rgb(from var(--md-ref-palette-neutral35) r g b / var(--tw-text-opacity));
      }
    }
    li > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
    }
    ol {
      list-style-type: lower-roman;
    }
    ul {
      list-style-type: circle;
    }
    ol,
      ul {
      ol {
        list-style-type: lower-alpha;
      }
      ul {
        list-style-type: square;
      }
    }
  }
  sup {
    margin-left: 0.05rem;
  }
  sup {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-primary-light) r g b / var(--tw-text-opacity));
  }
  :is(.dark sup) {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-primary-dark) r g b / var(--tw-text-opacity));
  }
  sup {
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
  /* 行内代码 */
  :not(pre) > code {
    --tw-bg-opacity: 1;
    background-color: rgb(from var(--md-sys-color-secondary-container-light) r g b / var(--tw-bg-opacity));
  }
  :not(pre) > code {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-on-secondary-container-light) r g b / var(--tw-text-opacity));
  }
  :is(.dark :not(pre) > code) {
    --tw-bg-opacity: 1;
    background-color: rgb(from var(--md-sys-color-secondary-container-dark) r g b / var(--tw-bg-opacity));
  }
  :is(.dark :not(pre) > code) {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-on-secondary-container-dark) r g b / var(--tw-text-opacity));
  }
  :not(pre) > code {
    -webkit-user-select: all;
       -moz-user-select: all;
            user-select: all;
  }
  :not(pre) > code {
    border-radius: 0.25rem;
  }
  :not(pre) > code {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  :not(pre) > code {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }
  /*
      除了代码行号、h1-h6、文内脚注、页脚脚注、图片的超链接添加样式
      */
  :not(code > span, h1, h2, h3, h4, h5, h6, sup, li[id^="fn:"] > p)
      > a:not(.image) {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-tertiary-light) r g b / var(--tw-text-opacity));
  }
  :is(.dark :not(code > span, h1, h2, h3, h4, h5, h6, sup, li[id^="fn:"] > p)
      > a:not(.image)) {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-tertiary-dark) r g b / var(--tw-text-opacity));
  }
  :not(code > span, h1, h2, h3, h4, h5, h6, sup, li[id^="fn:"] > p)
      > a:not(.image) {
    word-wrap: break-word;
    &::after {
      content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="%236c98a1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1l9-9m-5 0h5v5"%2F%3E%3C%2Fsvg%3E');
    }
  }
  > table {
    width: 100%;
  }
  > table {
    border-collapse: collapse;
  }
  > table {
    border-width: 1px;
  }
  > table {
    th,
      td {
      border-width: 1px;
    }
    th,
      td {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    th,
      td {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    th {
      height: 2.5rem;
    }
  }
  blockquote {
    border-left-width: 4px;
  }
  blockquote {
    padding-left: 1rem;
  }
  blockquote {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-ref-palette-neutral-variant50) r g b / var(--tw-text-opacity));
  }
  a.image {
    display: flex;
  }
  a.image {
    justify-content: center;
  }
  .footnotes {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footnotes {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-ref-palette-neutral-variant40) r g b / var(--tw-text-opacity));
  }
  :is(.dark .footnotes) {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-ref-palette-neutral-variant60) r g b / var(--tw-text-opacity));
  }
  iframe {
    margin-left: auto;
    margin-right: auto;
  }
  iframe {
    max-width: 100%;
  }
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
  }
  @media (min-width: 1280px) {
  }
  @media (min-width: 1536px) {
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.top-12 {
  top: 3rem;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-auto {
  margin-left: auto;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.h-12 {
  height: 3rem;
}

.h-full {
  height: 100%;
}

.max-h-96 {
  max-height: 24rem;
}

.min-h-full {
  min-height: 100%;
}

.w-full {
  width: 100%;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-x-1 {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.bg-surface {
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-sys-color-surface-light) r g b / var(--tw-bg-opacity));
}

.bg-surface-light\/70 {
  background-color: rgb(from var(--md-sys-color-surface-light) r g b / 0.7);
}

.bg-surface-variant {
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-sys-color-surface-variant-light) r g b / var(--tw-bg-opacity));
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-neutral-30 {
  --tw-text-opacity: 1;
  color: rgb(from var(--md-ref-palette-neutral30) r g b / var(--tw-text-opacity));
}

.text-neutral-50 {
  --tw-text-opacity: 1;
  color: rgb(from var(--md-ref-palette-neutral50) r g b / var(--tw-text-opacity));
}

.text-on-surface-variant {
  --tw-text-opacity: 1;
  color: rgb(from var(--md-sys-color-on-surface-variant-light) r g b / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.decoration-1 {
  text-decoration-thickness: 1px;
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.backdrop-blur {
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.nt-md-meta > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  li {
    a {
      --tw-bg-opacity: 1;
      background-color: rgb(from var(--md-ref-palette-neutral98) r g b / var(--tw-bg-opacity));
    }
    a {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-sys-color-secondary-light) r g b / var(--tw-text-opacity));
    }
    :is(.dark a) {
      --tw-bg-opacity: 1;
      background-color: rgb(from var(--md-ref-palette-neutral20) r g b / var(--tw-bg-opacity));
    }
    :is(.dark a) {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-sys-color-secondary-dark) r g b / var(--tw-text-opacity));
    }
    a {
      display: flex;
    }
    a {
      height: 2rem;
    }
    a {
      min-width: 3rem;
    }
    a {
      align-items: center;
    }
    a {
      justify-content: center;
    }
    a {
      gap: 0.25rem;
    }
    a {
      border-radius: 0.125rem;
    }
    a {
      border-width: 1px;
    }
    a {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    a {
      /* span:first-child {
        @apply bg-[var(--md-sys-color-primary-light)] dark:bg-[var(--md-sys-color-primary-container-dark)];
        @apply text-[var(--md-sys-color-on-primary-light)] dark:bg-[var(--md-sys-color-on-primary-container-dark)];

        @apply rounded-l-lg px-3 py-1;
      }
      span:last-child {
        @apply bg-[var(--md-sys-color-secondary-container-light)] dark:bg-[var(--md-sys-color-secondary-container-dark)];
        @apply text-[var(--md-sys-color-on-secondary-container-light)] dark:bg-[var(--md-sys-color-on-secondary-container-dark)];

        @apply rounded-r-lg px-2 py-1;
      } */
    }
  }
}

.footer {
  margin-top: auto;
  height: 3rem;
  border-top-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-sys-color-surface-light) r g b / var(--tw-bg-opacity));
  padding: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

:is(.dark .footer) {
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-sys-color-surface-dark) r g b / var(--tw-bg-opacity));
}

.footer {
  a {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-primary-light) r g b / var(--tw-text-opacity));
  }
  :is(.dark a) {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-primary-dark) r g b / var(--tw-text-opacity));
  }
  a {
    &:hover {
      text-decoration-line: underline;
    }
    &:hover {
      text-decoration-color: rgb(from var(--md-sys-color-primary-light) r g b / 1);
    }
    &:hover {
      text-decoration-thickness: 1px;
    }
    :is(.dark &:hover) {
      text-decoration-color: rgb(from var(--md-sys-color-primary-dark) r g b / 1);
    }
  }
}

.pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  --tw-text-opacity: 1;
  color: rgb(from var(--md-sys-color-secondary-light) r g b / var(--tw-text-opacity));
}

:is(.dark .pagination) {
  --tw-text-opacity: 1;
  color: rgb(from var(--md-sys-color-secondary-dark) r g b / var(--tw-text-opacity));
}

.pagination {
  li {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-secondary-light) r g b / var(--tw-text-opacity));
  }
  :is(.dark li) {
    --tw-text-opacity: 1;
    color: rgb(from var(--md-sys-color-secondary-dark) r g b / var(--tw-text-opacity));
  }
  li {
    &:hover:not([class*="disabled"]) {
      border-radius: 0.25rem;
    }
    &:hover:not([class*="disabled"]) {
      --tw-bg-opacity: 1;
      background-color: rgb(from var(--md-sys-color-secondary-container-light) r g b / var(--tw-bg-opacity));
    }
    :is(.dark &:hover:not([class*="disabled"])) {
      --tw-bg-opacity: 1;
      background-color: rgb(from var(--md-sys-color-secondary-container-dark) r g b / var(--tw-bg-opacity));
    }
    a {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    &.disabled {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-sys-color-surface-variant-light) r g b / var(--tw-text-opacity));
    }
    :is(.dark &.disabled) {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-sys-color-surface-variant-dark) r g b / var(--tw-text-opacity));
    }
    &.disabled {
      a:hover {
        cursor: default;
      }
    }
    &.active {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-sys-color-primary-light) r g b / var(--tw-text-opacity));
    }
    &.active {
      text-decoration-line: underline;
    }
    &.active {
      text-decoration-color: rgb(from var(--md-sys-color-primary-light) r g b / 1);
    }
    &.active {
      text-decoration-thickness: 1px;
    }
    :is(.dark &.active) {
      --tw-text-opacity: 1;
      color: rgb(from var(--md-sys-color-primary-dark) r g b / var(--tw-text-opacity));
    }
    :is(.dark &.active) {
      text-decoration-color: rgb(from var(--md-sys-color-primary-dark) r g b / 1);
    }
  }
}

:is(.dark .dark\:icon-\[tabler--moon\]) {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 3h.393a7.5 7.5 0 0 0 7.92 12.446A9 9 0 1 1 12 2.992z'/%3E%3C/svg%3E");
}

.hover\:bg-neutral-95:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-ref-palette-neutral95) r g b / var(--tw-bg-opacity));
}

.hover\:shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-md:hover {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

:is(.dark .dark\:bg-surface-dark) {
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-sys-color-surface-dark) r g b / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-surface-dark\/70) {
  background-color: rgb(from var(--md-sys-color-surface-dark) r g b / 0.7);
}

:is(.dark .dark\:bg-surface-variant-dark) {
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-sys-color-surface-variant-dark) r g b / var(--tw-bg-opacity));
}

:is(.dark .dark\:text-neutral-70) {
  --tw-text-opacity: 1;
  color: rgb(from var(--md-ref-palette-neutral70) r g b / var(--tw-text-opacity));
}

:is(.dark .dark\:text-neutral-80) {
  --tw-text-opacity: 1;
  color: rgb(from var(--md-ref-palette-neutral80) r g b / var(--tw-text-opacity));
}

:is(.dark .dark\:text-on-surface-variant-dark) {
  --tw-text-opacity: 1;
  color: rgb(from var(--md-sys-color-on-surface-variant-dark) r g b / var(--tw-text-opacity));
}

:is(.dark .dark\:hover\:bg-neutral-30:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(from var(--md-ref-palette-neutral30) r g b / var(--tw-bg-opacity));
}

@media (min-width: 768px) {
  .md\:relative {
    position: relative;
  }

  .md\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .md\:ml-10 {
    margin-left: 2.5rem;
  }

  .md\:ml-auto {
    margin-left: auto;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-96 {
    width: 24rem;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:w-max {
    width: -moz-max-content;
    width: max-content;
  }

  .md\:flex-1 {
    flex: 1 1 0%;
  }

  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:gap-4 {
    gap: 1rem;
  }
}
