<aside class="overflow-hidden">
  <h3>Contanct</h3>
  <dl class="contact text-base text-neutral-30 dark:text-neutral-80">
    {{ $author := .Site.Params.author }}
    {{ if $author.email }}
      <div>
        <dt>
          <span class="icon-[carbon--email]"></span>
        </dt>
        <dd>
          <a href="mailto:{{ $author.email }}">
            {{ $author.email }}
          </a>
        </dd>
      </div>
    {{ end }}

    {{ if $author.github }}
      <div>
        <dt>
          <span class="icon-[carbon--logo-github]"></span>
        </dt>
        <dd>
          <a href="https://github.com/{{ $author.github }}">
            @{{ $author.github }}
          </a>
        </dd>
      </div>
    {{ end }}

    {{ if $author.bilibili }}
      <div>
        <dt>
          <span class="icon-[tabler--brand-bilibili]"></span>
        </dt>
        <dd>
          {{ $busername := $author.bilibili }}
          {{ if $author.bilibili_id }}
            <a href="https://space.bilibili.com/{{ $author.bilibili_id }}">
              @{{ $busername }}
            </a>
          {{ else }}
            <a
              href="https://search.bilibili.com/upuser?keyword={{ $busername }}"
            >
              @{{ $busername }}
            </a>
          {{ end }}
        </dd>
      </div>
    {{ end }}

    {{ if $author.telegram }}
      <div>
        <dt>
          <span class="icon-[tabler--brand-telegram]"></span>
        </dt>
        <dd>
          <a href="https://t.me/{{ $author.telegram }}">
            @{{ $author.telegram }}
          </a>
        </dd>
      </div>
    {{ end }}
  </dl>
</aside>
